 ul,
 li,
 p,
 div,
 body,
 span,
 img,
 a {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 body {
     font-size: 10px;
     background-color: rgb(250, 250, 250);
 }

 .top-head {
     background-color: white;
 }

 .cont-wrap {
     width: 70%;
     margin: 0 auto;
     /* border: 1px solid red; */
 }


 /* 顶部联系方式 */
 header .top-head .cont-box {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header .top-head .cont-box .hotline,
 .cut {
     padding: 5px;
     color: rgb(41, 176, 120);
     font-size: 0.7rem;
 }

 header .top-head .cont-box li {
     float: left;
     margin-left: 0.5rem;
 }

 header .top-head .cont-box li a {
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("./img/smallIcon.png")no-repeat;
     background-size: auto 20px;
     background-position: 0 2px;
 }

 header .top-head .cont-box .logo-in {
     color: black;
 }

 header .top-head .cont-box li a.qq-icon {
     background-position: -19px 2px;
 }

 header .top-head .cont-box li a.weibo-icon {
     background-position: -40px 2px;
 }

 @media all and (min-width: 768px) {

     .top-head .cont-box .logo-in,
     .cut {
         display: none;
     }
 }

 @media all and (max-width: 768px) {

     .top-head .cont-box .logo-in,
     .cut {
         display: block;
         padding: 5px 3px;
     }

     .top-head .cont-box .hotline,
     .contact {
         display: none;
     }

     header .top-head .cont-box {
         display: flex;
         justify-content: flex-end;
     }
 }


 /* 导航栏 */
 header .navigation {
     background-color: rgb(41, 176, 120);
 }

 header .navigation .navbar {
     padding: 0;
 }

 header .navigation .nav-item {
     text-align: center;
     height: 5rem;
 }

 header .navigation .nav-item .nav-link {
     font-size: 1rem;
     color: white;
     margin-left: 1.2rem;
     padding: 1.7rem 0.5rem;
 }

 header .navigation .nav-item a:hover {
     border-bottom: 2px solid white;
 }


 @media all and (min-width: 768px) {
     .navbar-expand-md .navbar-collapse {
         display: flex !important;
         justify-content: flex-end;
         flex-basis: auto;
     }
 }


 /* 导航收缩按钮 */
 header>.navigation>.cont-wrap .navbar-toggler {
     outline: none;
     border: none;
 }

 .navbar-dark .navbar-toggler-icon {
     background: url("./img/menu.png")no-repeat;
 }

 .navbar-toggler-icon {
     display: inline-block;
     width: 1.5em;
     height: 1.5em;
     vertical-align: middle;
     content: "";
     background: no-repeat center center;
     background-size: 100% 100%;
 }




 /* 合作企业标题 */
 main .cont-wrap .top-title-wrap p {
     margin: 2rem 0;
     font-size: 1rem;
 }

 main .cont-wrap .top-title-wrap p span {
     color: rgb(41, 176, 120);
 }

 main .cont-wrap .container-fluid {
     width: 100%;
     margin: 0;
     padding: 0;
 }

 main .cont-wrap .container-fluid .row {
     width: 100%;
     margin: 0;
     padding: 0;
 }


 /* 滚动监听导航 */
 main .cont-wrap .major {
     border-bottom: 0.5px solid rgb(233, 233, 233);
     border-top: 1px solid rgb(211, 211, 211);
     display: flex;
     align-items: center;
     padding: 5px 0;
 }

 main .cont-wrap .major>span {
     color: rgb(173, 173, 173);
     font-size: 0.6rem;
 }

 main .cont-wrap .major ul {
     display: inline-block;
     list-style: none;
     margin: 0;
     padding: 0;
 }

 main .cont-wrap .major ul li {
     float: left;
     margin-left: 20px;
     padding: 7px 0;
 }

 main .cont-wrap .major ul li button {
     font-size: 0.7rem;
     color: rgb(87, 87, 87);
     background-color: transparent;
     border: none;
     outline: none;
 }


 /* 前端方向分隔符 */
 main .cont-wrap .direction {
     border-bottom: 1px solid rgb(211, 211, 211);
     margin-bottom: 2.5rem;
 }

 main .cont-wrap .direction>p {
     font-size: 1rem;
     padding: 1rem 0;
 }

 /* 名片 */
 main .cont-wrap .cont-box {
     padding: 0 1.5rem 0 0;
     margin-bottom: 1.5rem;
     position: relative;
 }

 main .cont-wrap .cont-box>.row {
     background: white;
     box-shadow: 1px 1px 1px rgb(223, 223, 223);
 }

 /* 清楚所有莫名M P */
 main .cont-wrap .cont-box div {
     padding: 0;
     margin: 0;
 }

 /* 名片 */
 main .cont-wrap .cont-box .r-1 {
     display: flex;
     align-items: center;
 }

 main .cont-wrap .cont-box .r-1 img {
     width: 6rem;
     height: 6.5rem;
     margin: 0.5rem 0 0.5rem 0.5rem;
 }

 main .cont-wrap .cont-box p.title {
     font-size: 0.7rem;
     color: black;
     font-weight: 500;
     padding-top: 1rem;
 }

 main .cont-wrap .cont-box p {
     font-size: 0.6rem;
     color: rgb(75, 75, 75);
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     display: inline-block;
 }

 main .cont-wrap .cont-box p.light {
     font-size: 0.6rem;
     color: rgb(184, 184, 184);
 }

 main .cont-wrap .cont-box p span.orangeCo {
     color: rgb(255, 97, 24);
 }

 main .cont-wrap .cont-box span.fiveStar {
     display: inline-block;
     margin-left: 5px;
     width: 17px;
     height: 17px;
     background: url("./img/fiveStar.png")no-repeat;
     background-position: 0 1px;
 }

 main .cont-wrap .cont-box .r-3-middle {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 main .cont-wrap .cont-box .r-3>div {
     display: flex;
     justify-content: space-between;
 }


 /* 鼠标悬浮特效 */

 main .cont-wrap .cont-box>.row .pop-up {
     position: absolute;
     padding-right: 1.5rem;
     opacity: 0;
     height: 100%;
     z-index: 5;
     transition: 1s;
 }

 main .cont-wrap .cont-box>.row:hover .pop-up {
     opacity: 1;
     transform: rotateY(360deg);
 }

 main .cont-wrap .cont-box>.row .pop-up>div {
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(3, 3, 3, 0.75);
     height: 100%;
 }

 main .cont-wrap .cont-box .pop-up>div>p.title-text {
     margin-top: 1rem;
 }

 main .cont-wrap .cont-box .pop-up>div>p {
     color: white;
     font-size: 0.7rem;
     line-height: 1.3rem;
 }



 /* 旗下网站 */
 .ourWeb {
     margin-top: 10rem;
     background-color: rgb(38, 162, 111);
 }

 .ourWeb .cont-wrap p,
 a {
     color: white;
     font-size: 0.8rem;
     padding-bottom: 3px;
 }

 .ourWeb .cont-wrap a.bodyWeb {
     margin-right: 1.5rem;
 }

 .ourWeb .cont-wrap a:hover {
     text-decoration: none;
     color: white;
     border-bottom: 1px solid white;
 }

 .ourWeb .cont-wrap {
     display: flex;
     justify-content: space-between;
 }

 .ourWeb .cont-wrap>div {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 0.6rem 0;
     height: 8rem;
     min-width: 200px;
 }

 .ourWeb .cont-wrap div.QRcode-box {
     align-items: flex-end;
     margin-right: 2rem;
 }

 .ourWeb .cont-wrap>div img {
     width: 5rem;
     height: 5rem;
 }

 @media all and (max-width: 991px) {
     footer .ourWeb .cont-wrap div.QRcode-box {
         align-items: flex-start;
     }
 }


 /* 版权号 */
 footer .copyright {
     background-color: rgb(38, 162, 111);
     text-align: center;
     color: white;
     border-top: 1px solid rgba(255, 255, 255, 0.4);
 }

 footer .copyright p {
     height: 23px;
     line-height: 23px;
     font-size: 0.5rem;
     margin-bottom: 0;
 }