* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    padding-bottom: 100%;
}
.column {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
.box {
    width: 15%;
    padding-bottom: 15%;
    margin: 1%;
    background-color: rgb(255, 178, 35);
    border-radius: 3%;
}